* {
  box-sizing: border-box;
  --theme-color: #1f2937;
  --secondary-color: #3888f6;
}

body {
  display: flex;
  flex-direction: column;
}

#hero {
  display: flex;
  flex-direction: column;

  background-color: var(--theme-color);

  padding: 0 156px;
}

#hero .header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1.5em;
}

#hero .header .header-links {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

a {
  text-decoration: none;
}

#hero .hero-main {
  display: flex;
  gap: 3em;

  margin: 125px auto;
}

#hero .hero-main .hero-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#hero .hero-main .hero-info p,
#hero .header .header-links li a {
  font-size: 18px;
  color: #e5e7eb;
}

#hero .header .header-logo {
  display: flex;
  gap: 1em;

  height: 2em;
  width: auto;

  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

#hero .header .header-logo img {
  max-width: 100%;
  height: auto;
}

#hero .header .header-logo p {
  align-self: center;
}

#hero .hero-main .hero-info .place-order {
  background-color: var(--secondary-color);
  color: #f9faf8;
  padding: 0.5em 2em;
  font-size: 18px;
  font-weight: 900;
  border-radius: 8px;

  align-self: flex-start;
}

#hero .hero-img {
  width: 540px;
  max-width: 50%;
  height: auto;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 3em;

  margin-bottom: 120px;
}

.cards .card {
  display: flex;
  flex-direction: column;

  width: 170px;
}

.cards .card img {
  max-width: 100%;
  height: auto;
  border: 4px solid var(--secondary-color);
  border-radius: 15px;
}

.cards .card p {
  font-size: 18px;
  color: #3a3a3a;
  margin: 0.2em;
}

.quote {
  display: flex;
  flex-direction: column;

  background-color: #e5e7eb;
  font-style: oblique;
  padding: 135px 285px;
}

.quote .quote-text {
  font-size: 36px;
  color: #1f2937;
  width: 100%;
}

.quote .quote-author {
  font-size: 24px;
  font-weight: 900;

  align-self: flex-end;

  margin-right: 1.5em;
}

.call-action {
  align-self: center;

  display: flex;
  justify-content: space-between;
  gap: 3em;

  background-color: var(--secondary-color);
  border-radius: 10px;

  margin: 100px;
  padding: 50px 115px;
  width: 1025px;
}

.call-action-text .call-action-title {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

.call-action-text .call-action-info {
  font-size: 18px;
  color: #f9faf8;
}

.call-action .place-order {
  align-self: center;

  color: #f0f0f0;
  padding: 0.5em 2em;
  font-size: 18px;
  font-weight: 900;
  border: 2px solid #f9faf8;
  border-radius: 8px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  color: #1f2937;
  margin: 1.5em;
}

footer {
  background-color: var(--theme-color);
}

footer .copyright {
  font-size: 18px;
  color: #f9faf8;
  text-align: center;
  margin: 2em auto;
}
